*{

    margin: 0px;
    padding: 0px;
}

#ul{

border: 1px solid black;
height: 300px;
width: 150px;
margin-top: 30px;
list-style: none;
position: absolute;
/* margin-left: -50px; */
overflow: scroll;
color: black;
}

